<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRoleService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IRoleService1" />
        <binding name="BasicHttpBinding_IUserService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50000/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="ConsoleUserService.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:50000/RoleService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRoleService" contract="ConsoleRoleService.IRoleService"
        name="BasicHttpBinding_IRoleService" />
      <endpoint address="http://localhost:22493/RoleServiceHost.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleService1"
        contract="IISRoleService.IRoleService" name="BasicHttpBinding_IRoleService1" />
      <endpoint address="http://localhost:22493/UserServiceHost.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService1"
        contract="IISUserService.IUserService" name="BasicHttpBinding_IUserService1" />
    </client>
  </system.serviceModel>

</configuration>